* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header {
  background-color: #fff;
  color: #333;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 128px;
  position: relative;
}

.logo {
  font-size: 24px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  background-color: #333;
  height: 2px;
  width: 20px;
  margin: 2px 0;
  transition: 0.3s;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #2a2929;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.nav-links a:hover {
  color: #627becdb;
}

.search-icon {
  margin-left: 20px;
}

.search-icon .icon {
  color: #627becdb;
  font-size: 28px;
}

.breadcrums-container {
  margin: 5px 128px;
}
.breadcrums-container p {
  font-size: 12px;
}
.breadcrums-container p span {
  font-weight: 300;
  color: #bbb3b3;
}
.product-container {
  margin: 0 128px 30px 128px;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.2);
}
.product-info {
  padding: 45px 65px 20px 65px;
  display: flex;
  gap: 64px;
}
.product-img {
  display: flex;
  justify-content: center;
}
.product-compare-button {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}
.product-compare-button button {
  background-color: #fff;
  padding: 2px 5px;
  border: 1px solid grey;
  cursor: pointer;
  font-size: 12px;
}
.product-img img {
  aspect-ratio: 1/2.1;
  width: 100%;
}
.price {
  display: flex;
  align-items: center;
  gap: 55px;
}
.price button {
  padding: 14px 42px;
  background-color: #627becdb;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
}
.product-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-details h2 {
  font-size: 28px;
}
.color-options {
  display: flex;
  gap: 14px;
}
.color-box {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.price h3 {
  color: #627becdb;
  font-size: 20px;
  font-weight: 500;
}
.star-icon {
  color: rgb(255, 211, 53);
}
.rating {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}
.rating .star {
  font-size: 18px;
  color: #606060;
  font-weight: 300;
}
.rating .text {
  background-color: #dddddd;
  font-size: 10px;
  font-weight: 300;
  padding: 2px 5px;
}
.product-review {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  border-bottom: 1px solid #ccc2c2cf;
  padding-bottom: 16px;
}
.product-review-brand {
  margin-top: 10px !important;
  border: none !important;
  gap: 20px !important;
}
.product-review-brand div img {
  width: 60px;
}
.product-review-brand div p {
  font-size: 12px;
  font-weight: 300;
  color: #606060;
}

.product-review div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.product-review div i {
  color: #3fe5c2;
  font-size: 24px;
}
.pdp-details {
  font-size: 16px;
  font-weight: 300;
  color: #999999;
}
.pdp-quality {
  font-size: 10px;
  color: #999999;
  font-weight: 300;
}
.product-feature {
  background-color: #e5e5e580;
  color: #3fe5c2;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.product-feature div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 11.11%;
  height: 60px;
}
.product-feature div p {
  font-size: 12px;
  font-weight: 300;
}
.product-feature div:hover {
  background-color: #627becdb;
  color: #fff;
}
.specification {
  margin: 0 128px 30px 128px;
  display: flex;
  gap: 30px;
}
.specification-container,
.add-image-container,
.similar-product-container {
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.2);
}
.add-image-container {
  padding: 18px;
}
.add-image-container img {
  aspect-ratio: 1/1;
  width: 100%;
  margin: auto;
}
.specification-container {
  flex: 3;
}
.similar-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.similar-product-header {
  padding: 16px 20px;
  border-bottom: 1px solid grey;
}
.similar-product {
  padding: 16px 20px;
}

.similar-product ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}

.similar-product li {
  display: flex;
  gap: 30px;
}
.similar-product li img {
  aspect-ratio: 1/2.1;
}

.similar-product li div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.similar-product li div p {
  font-size: 14px;
}
.similar-price {
  color: #627becdb;
}
.similar-star {
  color: #bbb3b3;
}
.specification-header {
  padding: 16px 32px;
  background-color: #e5e5e580;
}
.specification-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 32px;
}
.specification-content div {
  display: flex;
}
.spec-key {
  font-size: 12px;
  flex: 1;
  font-weight: 600;
}
.spec-value {
  flex: 1;
  font-size: 12px;
  font-weight: 200;
}
.specification-header p span i {
  color: #3fe5c2;
  margin-right: 10px;
}
.review-content {
  padding: 10px 25px;
}
.btn-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
.btn-group button {
  padding: 5px;
  border-radius: 0;
  border: 1px solid grey;
  background-color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.all-review {
  margin: 30px 0;
}
.review-heading {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}
.review-heading i {
  font-size: 20px;
  color: rgb(16, 240, 16);
}
.review-group {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.review-rating,
.reviewer {
  color: #999999;
}
.review-rating {
  font-size: 16px;
}
.reviewer {
  font-size: 12px;
}
.review-rating span {
  font-size: 12px;
  font-weight: 300;
}
.review-text {
  font-size: 14px;
}
.review-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.minus-icon {
  color: red !important;
}

.chart-container {
  padding: 32px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.chart {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 40px;
}

.chart-label {
  flex: 1;
  text-align: left;
  font-weight: 300;
  font-size: 14px;
  text-align: right;
}

.bar-container {
  flex: 4;
  position: relative;
}

.bar {
  height: 25px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.bar-fill {
  height: 100%;
  border-radius: 5px;
}

.x-axis {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  font-size: 12px;
  color: #666;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
}

.x-axis-label {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
}
footer {
  margin-top: 150px;
  background-color: #2c2c2c;
  color: white;
  padding: 40px 128px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-section p {
  line-height: 1.6;
}

.social-icons a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
  font-size: 1.2em;
}

.instagram-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.instagram-images img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
  }

  .menu-toggle {
    display: flex;
    position: absolute;
    top: 17px;
    left: 20px;
  }

  .logo {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
  }

  .search-icon {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .search-icon .icon {
    font-size: 16px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    background-color: #170101;
    z-index: 1;
    padding-left: 0px;
  }

  .nav-links.active {
    display: flex;
    padding: 10px 0;
    height: 100vh;
  }

  .nav-links li {
    margin: 0;
    text-align: center;
  }

  .nav-links a {
    display: block;
    padding: 10px;
    font-size: 10px;
    color: #fff;
  }
  .breadcrums-container {
    margin: 5px 20px;
  }
  .breadcrums-container p {
    font-size: 8px;
  }
  .product-container {
    margin: 0 20px 10px 20px;
  }
  .product-info {
    padding: 25px 20px 10px 20px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .product-details {
    gap: 10px;
  }
  .product-details h2 {
    font-size: 21px;
    text-align: center;
  }
  .price button {
    padding: 8px 20px;
    border-radius: 12px;
    font-size: 8px;
  }
  .price h3 {
    font-size: 14px;
  }
  .color-options {
    justify-content: center;
    align-items: center;
  }
  .rating {
    justify-content: center;
  }
  .rating .star {
    font-size: 16px;
  }
  .product-img img {
    width: 75%;
  }
  .price {
    justify-content: space-evenly;
    gap: 0;
  }
  .product-review {
    gap: 12px;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  .product-review div i {
    font-size: 18px;
  }
  .pdp-details {
    font-size: 14px;
  }
  .pdp-quality {
    font-size: 8px;
  }
  .product-review div {
    gap: 3px;
  }
  .product-feature div {
    flex: 1 1 33.33%;
  }
  .specification {
    margin: 0 20px 10px 20px;
    gap: 16px;
    flex-direction: column;
  }
  .specification-header {
    padding: 12px 16px;
  }
  .specification-header p {
    font-size: 12px;
  }
  .add-image-container {
    padding: 16px;
  }
  .similar-container,
  .similar-container ul {
    gap: 16px;
  }
  .specification-content {
    gap: 14px;
    padding: 20px;
  }
  .spec-value,
  .spec-key {
    font-size: 8px;
  }
  .review-content {
    padding: 10px 20px;
  }
  .btn-group {
    gap: 7px;
  }
  .btn-group button {
    font-size: 8px;
  }
  .all-review {
    margin: 18px 0;
  }
  .review-heading {
    gap: 6px;
    font-size: 12px;
  }
  .review-heading i {
    font-size: 14px;
    color: rgb(16, 240, 16);
  }
  .review-group {
    margin-top: 18px;
    gap: 12px;
  }
  .review-rating span {
    font-size: 8px;
  }
  .review-text {
    font-size: 10px;
  }
  .review-menu {
    gap: 8px;
  }
  .review-container {
    gap: 0;
  }
  .reviewer {
    font-size: 8px;
  }
  .review-rating {
    font-size: 10px;
  }
  .chart-container {
    width: 100%;
    padding: 20px;
  }
  .chart {
    gap: 13px;
  }

  .chart-label {
    font-size: 8px;
  }

  .x-axis {
    font-size: 10px;
  }

  .x-axis-label {
    font-size: 12px;
  }
  footer {
    padding: 40px 20px;
    margin-top: 50px;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    max-width: 100%;
    text-align: center;
  }
  .footer-section h2{
    font-size: 1rem;
  }
  .footer-section p {
    font-size: 10px;
  }

  .instagram-images {
    grid-template-columns: repeat(2, 1fr);
  }
}
